.fondo--galeria{
    background-image: url(../imagenes/fondo-servi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .galeria{
    height: 100%;
    width: 100%;
    display: inline;
    transition: all 500ms ease;
    border-radius: 5px;
   box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.50);
   
  }
  .galeria_servicios{
    height: 100%;
    width: 100%;
    display: inline;
    border-radius: 5px;
   justify-content: center;
   animation-duration: 4s;
  
  
   
  }
  .galeria:hover{
    transform: scale(1.2);
    transition: all 500ms ease;
    cursor: pointer;
  }
  
  .galeria_carru1{
    display: flex;
    width: 300px;
    height: 300px;
    overflow: hidden; 
    
  }
  .galeria_carru1_2{
    display: flex;
    width: 300px;
    height: 300px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
   
  }
  .galeria_carru{
  
    display: flex; 
     width: 550px;
    height: 550px; 
     overflow: hidden;
  }
  .clearfix_galeria{
    text-align: center;
    font-size: 20px;
   justify-items:flex-end;
   margin-top: auto;
  }
  .clearfix_galeria2{
    width: 200px;
    height: 250x;
    margin: 35px;
   animation-duration: 4s;
  
  }
  .parrafo_galeria{
    width: 400px;
    height: 600px;
    margin-top: auto;
  
  }