@media screen and (max-width: 1023px) {
  .header{
    flex-direction: column;
  }
  .marca{
    flex-direction: column;
    text-align: center;
  } 
  .header_logo{
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .nav_p {
      display: none;
      
      
  }
 .fondo{
  position: static;
 }
  .header{
    flex-direction: row;
  }
  .header_iconos{ 
    display: block;
    font-size: 40px;
    color: brown;
    

  }
  .nav_item--close{
    display: block;
  }
  .Reserva{
    font-size: 15Px;
    margin: 10px;
    padding: 10px;
  }
  #lateral {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    height: 100vh;
    position: fixed;
    top:0;
    left: -150%;
    z-index: 100;
    transition: left 1s;

  }
  #lateral:target{
   left: 0; 
  }
 .navbar{
   flex-direction: column;
   gap: 1rem;
   justify-content: center;
   height: 100%;
  
 }
 .underline{
   color: salmon;
   font-size: 20px;
 }
 .titulo_servicios{
   font-size: 100px;
   text-align: center;
 }
 .mimate_servicios{
  font-size: 20px;

 }
 .subtitulo_servicios{
  font-size: 15px;
 }
 .parrafo_servi{
   justify-content: center;
 flex-direction: column;
 }
 .titulo_promociones{
   font-size: 30px;
   text-align: center;
   background-image: none;
   }

.titulo_sucursales{
  font-size: 30px;
  text-align: center;
}

.titulo{
  font-size: 50px;
  color: white;
}
.fondo--inicio{
    background-image: url(../imagenes/inicio-responsive.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .parallax{
    background-image: none;
  }
  .marca{
    font-size: 35px;
    flex-direction: column;
  }
  .titulo_galeria{
    font-size: 50px;
  }
  .footer{
    background-color:rgb(8, 8, 8);
  flex-direction: column;
   gap: 40px;
  }
  
  .footer__redes{
    display: flex;
    flex-direction: row;
    gap: 1rem;
     align-items: center;
  
  }
  .footer_medios{
    font-size: 10px;
    display: none;
  }
  .parrafo_redes{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    color: #fcb8be;
  }
  .footer_parrafos{
    font-size: 10px;
  }
  
  .footer__contacto{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-end;
    font-size: 4px;
  }
  .mail{
    display: none;
  }
  .inicio_parrafo{
    font-size: 30px;
  }
  .clearfix{
    display: none;
  }
 .promociones{
  font-size: 15px;
 }
 .div_hijo{
  height: 300px;
margin: 15px;
width: 280px;
 }
 .descuento_dias{
  font-size: 20px;
 }
 .descuento_parrafo{
  font-size: 15px;
 }
}
