.promociones{
  justify-content: center;
  align-items: center;
  text-align: center;
 display: flex;
 justify-items: center;
 margin: 20px;
 animation-duration: 5s;
}
.descuento_dias{
  font-size: 50px;
  color: #000000;
    line-height: 1.5;
    text-align: center;
    font-family: 'Righteous', cursive;
  }
  .descuento_parrafo{
    font-size: 25px;
    line-height: 2px;
    text-align: center;
    color: #b90000;
    font-family: 'Neucha', cursive;;
  }
  .fondo--promo{
    background-color: rgb(165, 142, 142);
  }
  .titulo_promociones{
    font-size: 90px;
    text-align: center;
    font-family: 'Yellowtail', cursive;
    color: white;
    -webkit-text-stroke:2px;
    -webkit-text-stroke-color:#b90000;
   
  }
  .descuento_promociones{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 50px;
  padding: 25px;
  color: #d40000;
  -webkit-text-stroke:0.5px;
  -webkit-text-stroke-color:#ffffff;
  }
  .parallax_promociones{
    background-image: url(../imagenes/fondo-pantalla-promo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  padding: 5%;
   margin-top: auto;
    width: 100%;
    height: 100%;
    animation-duration: 4s;
  }
  .regala_promociones{
    font-size: 65px;
   font-family: 'Kalam', cursiva;
   color: #000000;
  }
  .titulo_promociones{
    font-size: 90px;
    text-align: center;
    font-family: 'Yellowtail', cursive;
    color: white;
    -webkit-text-stroke:2px;
    -webkit-text-stroke-color:#b90000;
   
  }
  .descuento_promociones{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 50px;
  padding: 25px;
  color: #d40000;
  -webkit-text-stroke:0.5px;
  -webkit-text-stroke-color:#ffffff;
  }
  .parallax_promociones{
    background-image: url(../imagenes/fondo-pantalla-promo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  padding: 5%;
   margin-top: auto;
    width: 100%;
    height: 100%;
    animation-duration: 4s;
  }
  .regala_promociones{
    font-size: 65px;
   font-family: 'Kalam', cursiva;
   color: #000000;
  }