.titulo_servicios{
    font-size: 60px;
    text-align: center;
    padding: 2rem;
    background-image: url(https://i.pinimg.com/736x/9d/b0/6b/9db06b46bcfdc7c95003795278b34a52.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    padding: 70px;
    margin: 5px;
  }
  .intro_servi{
    font-size: 10x;
    font-style: italic
  }
  .parrafo_servi{
    color: black;
    text-align: center;
    line-height: 2;
  }