
.underline{
    text-decoration: none;
}

.header{

    display: flex;
    margin: 30px;
    padding: 15px;
    border: 5px solid burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: darksalmon;
  
  }
  .nav_p{
    display: flex;
   
  }
  .navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav_item{
    margin-left: 50px;
    color: black;
  }
    .titulod{
        font-size: 50px;  
        font-style: inherit;
    }
.introservi{
    font-size: 20px;
    text-align: center;
    line-height: 1.5;

}
*{
    padding: 0;
    margin: 0;
}
.sectionp{
    width: 90%;
    margin: 0 auto;    
}
.titulo_promociones{
    font-size: 60px;
    text-align: center;
    padding: 2rem;
    background-image: url(https://i.pinimg.com/564x/c6/6d/e4/c66de478c05d8558d563104500a66eff.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    padding: 70px;
    margin: 5px;
}
.intro_promo{
    font-size: 10x;
    font-style: italic
}

.flex{
    border: px solid #555;
    padding: 2rem;
    min-height: 400px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.flex_hijo{
    border: px solid orange;
    color: blue;
    text-align: center;
    line-height: 150px;
    padding: 20px;
    width: 531px;
    height: 150px;
}
.flex_hijo--1{
    background-color: bisque;
    align-self: center;
    text-align: center;
    text-align: center;
    font-size: 18px;
    line-height: 2;
    color: black;
    
}

.flex_hijo--2{
    background-color: bisque;
    align-self: center;
}
.flex_hijo img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.flex_hijo--3{
    background-color: bisque;
    align-self: center;
}
.flex_hijo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flex_hijo--4{
    background-color:paleturquoise;
    align-self: center;
    text-align: center;
    text-align: center;
    font-size: 18px;
    line-height: 2;
    color: black;
}

.titulo_servicios{
    font-size: 60px;
    text-align: center;
    padding: 2rem;
    background-image: url(https://i.pinimg.com/736x/9d/b0/6b/9db06b46bcfdc7c95003795278b34a52.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    padding: 70px;
    margin: 5px;
}
.intro_servi{
    font-size: 10x;
    font-style: italic
}

.titulo_sucursales{
    font-size: 60px;
    text-align: center;
    padding: 2rem;
    background-image: url(https://i.pinimg.com/564x/11/4d/04/114d0434113d79f2ef6cc8f496114073.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    padding: 70px;
    margin: 5px;
}

.black{
    text-align: center;
    margin: 15px;
    padding: 15px; 
}
.titulo_galeria{
    font-size: 60px;
    text-align: center;
    padding: 2rem;
}
.grid{
    border: 2px solid #555;
    margin: 3px;
    padding: 1rem;
    min-height: 700px;
    display: grid;
    grid-template-columns: 100px 200px 100px;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 225px 250px 225px;
    grid-template-columns: 25% 50% 25%;    
    grid-template-areas: 
    "ele1 ele2 ele3 " 
    "ele4 ele5 ele6" 
    "ele7 ele8 ele9";

}
.grid_hijo{
    border: 2px solid salmon;
    padding: 1rem;
    text-align: center;
}
.grid_hijo--1{
    background-color: aqua;
    grid-area: ele1;
    text-align: center;
    font-size: 25px;
    line-height: 2;
}
.grid_hijo--2{
    background-color: darkgrey;
    grid-area: ele2;
}
.grid_hijo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.grid_hijo--3{
    
    grid-area: ele3;
}
.grid_hijo img{
    width: 100%;
    height: 100%;
    
}
.grid_hijo--4{
    background-color: khaki;
    grid-area: ele4;
    text-align: center;
    font-size: 25px;
    line-height: 2;
}
.grid_hijo--5{
    
    grid-area: ele5;
}
.grid_hijo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid_hijo--6{
    background-color: palegreen;
    grid-area: ele6;
}
.grid_hijo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid_hijo--7{
    background-color: bisque;
    grid-area: ele7;
    text-align: center;
    font-size: 25px;
    line-height: 2;
}
.grid_hijo--8{
    background-color: lawngreen;
    grid-area: ele8;
}
.grid_hijo img{
    width: 100%;
    height: 100%;
  
}
.grid_hijo--9{
    background-color: bisque;
    grid-area: ele9;
}
.grid_hijo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.localidades {
    color: black;
    text-align: center;
    margin: 15px;
}
.direcciones{
    color: black;
    text-align: center;
}
.parrafo_servi{
    color: black;
    text-align: center;
    line-height: 2;
}
.estilo{
    background-color: darksalmon;
}

.whatsapp {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    bottom: 2rem;
    right: 2rem;
    position: fixed;
  }
  @media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 600px) {
    .navbar {
        display: none;
        
    }
}